<div class="module-browser-wrapper {{ viewMode }}">

    <div class="module-browser-header module-categories">
        <div class="genericon genericon-close-alt close-browser kb-button"></div>
        <div class="dashicons dashicons-list-view module-browser--switch__list-view kb-hide"></div>
        <div class="dashicons dashicons-exerpt-view module-browser--switch__excerpt-view kb-hide"></div>
        <div class="dashicons dashicons-grid-view module-browser--switch__grid-view kb-hide"></div>
    </div>

    <div class="module-browser__left-column kb-nano">
        <div class="modules-list kb-nano-content">

        </div>
    </div>

    <div class="module-browser__right-column kb-nano">
        <div class="module-description kb-nano-content">

        </div>
    </div>
</div>