/* Colors */
/* line 10, sass/partials/_base.scss */
.hide {
  display: none;
}

/* line 5, sass/KBOsEditStyle.scss */
.os-edit-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 108;
  padding: 5px 0px 10px 12px;
  display: none;
  background: transparent;
}

/* line 18, sass/KBOsEditStyle.scss */
body.onsite-editing .os-edit-container > .os-edit-wrapper {
  display: block;
  opacity: 1;
}
/* line 23, sass/KBOsEditStyle.scss */
body.onsite-editing .os-edit-container {
  position: relative;
}
/* line 27, sass/KBOsEditStyle.scss */
body.onsite-editing .os-edit-wrapper a {
  line-height: 16px;
  background: transparent;
  display: block;
  margin: 2px 0px;
  float: left;
  font-size: 12px;
  padding-left: 0px;
  color: #000;
  opacity: 1;
  text-indent: -9999px;
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 42, sass/KBOsEditStyle.scss */
body.onsite-editing .os-edit-wrapper a:hover {
  opacity: 1;
  color: #333;
}
/* line 48, sass/KBOsEditStyle.scss */
body.onsite-editing a.os-edit-block {
  line-height: 24px;
  float: right;
  cursor: pointer;
}
/* line 54, sass/KBOsEditStyle.scss */
body.onsite-editing a.os-edit-block span {
  display: block;
  height: 24px;
  width: 24px;
  background: url("pencil.png") #0074a2 no-repeat 6px 6px;
  float: right;
  margin-left: 10px;
}
/* line 65, sass/KBOsEditStyle.scss */
body.onsite-editing .master a.os-edit-block span {
  background-color: #d54e21;
}
/* line 69, sass/KBOsEditStyle.scss */
body.onsite-editing a.os-description {
  background: url("info.png") no-repeat;
  display: none;
}
/* line 74, sass/KBOsEditStyle.scss */
body.onsite-editing .hide {
  display: none;
}
/* line 79, sass/KBOsEditStyle.scss */
body.onsite-editing #onsite-modal {
  padding: 0;
  z-index: 9999;
}

/* line 90, sass/KBOsEditStyle.scss */
#wp-toolbar .os-edit {
  background: #0074a2;
}
/* line 93, sass/KBOsEditStyle.scss */
#wp-toolbar .os-edit.os-edit-off {
  background: none !important;
}
/* line 98, sass/KBOsEditStyle.scss */
#wp-toolbar .os-edit.os-edit-off a {
  color: #999;
}

/* line 107, sass/KBOsEditStyle.scss */
#osframe {
  overflow: hidden;
  border: 0;
}
