/* line 1, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
html, body {
  height: 100% !important;
}

/* line 6, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
html {
  background: #fff;
  overflow: hidden;
}

/* line 11, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
#root-container.nano {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Onsite Styles slightly different */
/* line 21, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing {
  padding-top: 0px;
}

/* line 26, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .kb-field label.heading {
  display: block;
  margin-bottom: 8px;
  border-left: 12px solid #33b5e5;
  padding-left: 9px;
  margin-left: -20px;
  font-style: italic;
  font-size: 13px;
  color: #333333;
  text-shadow: 1px 1px 0px white;
}

/* line 41, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .kb-field--tabs ul.ui-tabs-nav {
  margin-left: 0;
  background: #fff;
}

/* line 46, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .kb-field--tabs .ui-widget-content {
  border: none;
  border-top: none;
}

/* line 52, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .os-header {
  padding: 4px;
  position: fixed;
  width: 100%;
  margin-left: 0px;
  margin-top: -20px;
  z-index: 9999;
  bottom: 0;
  font-size: 12px;
  background: #fff;
}

/* line 63, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .os-header .os-update {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 12px;
}

/* line 70, /var/www/Restrap/wp-content/plugins/kontentblocks/css/sass/OSinlinestyles.scss */
body.on-site-editing .os-header .os-update:hover {
  color: #fff;
}
