<div class="kb-gallery--right-column">
    <div class="kb-gallery--image-holder">
        <img src="{{ image.previewUrl }}">
        <input type="hidden" name="{{ inputName }}" value="{{ image.id }}">
    </div>
</div>