<div class="kbsm-details">
    <div class="kbsm--name">{{ module.settings.name }}</div>
    <div class="kbsm--name">{{ module.mid }}</div>
</div>
<div class="kbsm-actions">
    <div class="kbsm-action kbms-action--open" data-kbtooltip="open form"><span
            class="dashicons dashicons-admin-generic"></span></div>
    <div class="kbsm-action kbms-action--delete" data-kbtooltip="delete"><span
            class="dashicons dashicons-welcome-comments"></span></div>
    <div class="kbsm-action kbms-action--update" data-kbtooltip="update"><span
            class="dashicons dashicons-update"></span></div>
</div>
<div class="kbsm-inner">

</div>