/*
* Fields Common Styles
*
*/

.kb-field {
  font-family: 'Open Sans' !important;
}

.kb-field {
  background-color: #fff;
  padding: 10px 10px 0px 12px;
//  padding: 20px 20px 25px 12px;
//  border-bottom: 1px solid #f2f2f2;
  text-align: left !important;

  // Text Input general
  input[type=text]{
    display: inline-block;
    text-align: left;
    height: 30px;
    line-height: 22px;
    border: 1px solid #dadada;
    font-size:14px;
    background: #f2f2f2 !important;
    box-shadow: none !important;
    width:60%;
    min-width: 150px !important;
    padding: 0 10px !important;
    transition:width .2s ease-out;

    &.large{
      width: 90%;
    }

    &:focus{
      border: 1px solid darken(#f2f2f2,3%);
    }
  }

  // Select general
  select{
    min-width: 200px;
    max-width: 50%;
    height: 30px !important;
    padding: 0px 4px !important;
    line-height: 30px;
    margin: 0 !important;
  }

}

.kb-field-wrapper{
  padding: 10px;

}

.kb-field--reset {
  margin: 0;
  font-size: 12px;
}