.kb-field--file {
  position: relative;

  table {
    max-width: 500px;
    margin-bottom: 10px;
    border: none;
    font-size: 12px !important;

    tr td:first-child {
      padding: 0 30px 0 0;
    }

    td {
      border: none;
      font-size: 12px !important;

    }
  }
}

.kb-js-reset-file {
  cursor: pointer;
  line-height: 28px;
  padding-left: 8px;

}