.flexible-fields--header {
  padding: 10px 0;
}

.kb-flexible-fields--item-wrapper{
  &.ff-section-invisible{
    border-left: 3px solid $red;
    opacity: 0.3;

    &:hover{
      opacity: 0.8;
    }
  }
}

.flexible-fields--section-box {

  .flexible-fields--section-title {
    position: relative;
    background-color: $grey-100;
    padding: $halfpadding;



    input[type=text]{
      border: none;
      font-style: italic;
      border-bottom: 1px solid #ddd;
      font-weight: normal;
    }

  }

  .flexible-fields--js-drag-handle {
    cursor: move;
    &:before {
      top: 3px;
      position: relative;
      font-size: 24px !important;
      color: #666;
      text-shadow: 1px 1px 1px #FFF;
    }

  }

  .flexible-fields--js-trash {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
    &:before {
      font-size: 18px !important;

    }

    &:hover {
      color: #333;
    }
  }
}

.flexible-fields--toggle-title {
  background-color: #fafafa;
  border: 1px solid #ccc;
  position: relative;

  & h3 {
    padding: 3px !important;
    margin: 0 !important;
    font-size: 16px !important;
  }

  & input[type="text"] {
    font-size: 13px !important;
    padding-left: 15px;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin: 0 !important;

    &:hover {
      border-color: #ccc;
      background-color: #fafafa;
    }

    &:focus {
      background-color: #fff !important;
      box-shadow: none;
    }
  }

  .flexible-fields--js-toggle {
    font-size: 18px !important;
    position: relative;
    top: 5px;
    left: 3px;
    cursor: pointer;
    color: #999;

    &:hover {
      color: #333;
    }
  }

  .flexible-fields--js-drag-handle {

    cursor: move;
    &:before {
      top: 3px;
      position: relative;
      font-size: 24px !important;
      left: -3px;
      color: #666;
      text-shadow: 1px 1px 1px #FFF;
    }

  }

  .flexible-fields--js-trash {
    position: absolute;
    right: 15px;
    font-size: 15px !important;
    top: 11px;
    color: #999;
    cursor: pointer;

    &:before {
      font-size: 14px !important;
    }

    &:hover {
      color: #333;
    }
  }
  .flexible-fields--js-duplicate {
    position: absolute;
    right: 40px;
    font-size: 15px !important;
    top: 13px;
    color: #999;
    cursor: pointer;
    font: normal 14px/1 'dashicons' !important;

    &:before {
      font-size: 14px !important;
        content: '\f105';
    }

    &:hover {
      color: #333;
    }
  }

  .flexible-fields--js-visibility {
    position: absolute;
    right: 68px;
    font-size: 15px !important;
    top: 12px;
    color: #999;
    cursor: pointer;
    font: normal 14px/1 'dashicons' !important;

    &:before {
      font-size: 14px !important;
      content: '\f177';
    }

    &:hover {
      color: #333;
    }
  }
}

.flexible-fields--section-box {
  border: 1px solid $lightgrey;
  overflow: hidden;
  //max-height: 250px;
  //transition: all .3s ease-out;

  &-inner{
    padding: $halfpadding;
  }
}

.kb-active-box {
  .flexible-fields--section-box {
    overflow: auto;
    max-height: none;
  }
}

.os-content-inner {
  .flexible-fields--item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}