.kbml-grid {
  height: 100%;
}

.kbml-slot {
  min-height: 100px;
  background-color: #f2f2f2;
  border: 1px dashed #ccc;
  margin-bottom: 20px;
  padding: $halfpadding;
  position: relative;
  cursor: grab;
  cursor: move;
  .add-modules {
    position: absolute;
    bottom: 12px;
    right: 12px;
    div {
      color: #0073aa;
    }
  }

}

.kbsm-button {
  background: $lightblue;
  display: inline-block;
  padding: 4px 12px;
  color: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
}

.kbsm--name {
  font-weight: 100;
  font-size: 12px;
}

.kbsm-actions {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;

  > div {
    display: inline-block;
  }

  .kbsm-action {
    cursor: pointer;

    span.dashicons {
      font-size: 15px;
      width: 15px;
      height: 15px;
      color: $grey-500;

      &:hover {
        color: $grey-900;
      }
    }
  }
}

.kbsm-empty {
  text-align: center;
  padding: $halfpadding;

  &.add-modules{
    cursor: pointer;
  }
}

.kbml-slot .add-modules{
  cursor: pointer;

}

.kb-submodule {

  &.is-dirty {
    .kbms-action--update .dashicons {
      color: red;
    }
  }

}