<div class="kb_field">
    <div class="inside">



        {% if translated %}
            <p>There is a translation available for this module which will be used on the frontend</p>
        {% endif %}


        <a href="{{ editUrl }}">Edit Original</a>
    </div>
</div>