<div class="kb_field">
    <div class="inside">



        {% if translated %}
            <p>{{ i18n.validTranslated }}</p>
        {% endif %}


        <a href="{{ editUrl }}">{{ i18n.editLink }}</a>
    </div>
</div>