<div id="kontentblocks-core-ui" class="postbox">
    <h3>Module</h3>

    <div class="inside kb-module" id="{{ instance.instance_id }}">
        <div class="kb-module__controls-inner">
            {{ instance.form() }}
        </div>
    </div>
</div>

