<div class="kb-sidebar__subheader">
    <span>You are editing area:</span> {{ name }}
</div>
<div class="kb-sidebar-area-details__settings" style="display: none">

</div>
<!--<div class="kb-sidebar-area-details__subheader">Categories</div>-->