<div class="kb-sidebar__category-item">
    <div class="kb-sidebar__category-item__title">
        Category: {{ name }}
    </div>
    <ul class="kb-sidebar__category-item__module-list">
    </ul>
</div>