/* CSS Document */
div.kb-drag-drop {
	border: 4px dashed #DDD;
	height: 100px;
	border-image: initial;	
}


div.kb-drag-drop-inside {
	margin: 20px auto 0;
	width: 200px;
}

div.kb-drag-drop-inside p {
	text-align: center;
	display: block;
	font-size: 20px;
	margin: 5px 0;
	color: #AAA;	
}

.plupload ul.ui-tabs-nav{
    margin-left: 0 !important;
}

.kb_field.plupload{

    h4{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.kb-plupload-list{

    margin-bottom: 20px;
    overflow: hidden;
    margin-left: -10px;

    li{
        position: relative;
        float: left;
        padding: 9px;
        margin-left: 10px;
        background: #fff;
        border: 1px solid #ccc;
        cursor: pointer;

        .kb_plupload_image-wrap
        {
            width: 75px;
            min-height: 75px;
            float: left;
            line-height: 0;

            img{
                max-width: 100%;
            }
        }

        textarea{
            display: none;
            width: 145px;
            float: left;
            margin-left: 10px;
            background: #fff;
            
        }

        &.details{

            textarea{
                display: block;
                height: 70px;
            }
        }

    }
}

.kb_plupload_image-wrap {
    position: relative;
}

.kb_plupload_image-wrap:hover .kb_plupload_delete {
    display: block !important;
    position: absolute;
    bottom: 0px;    
    left:0px;
    width: 10px;
    height: 10px;
    background: red;
}

.kb_plupload_delete {
    display: none !important;
}



.kb-gallery-tab-list {
    overflow: auto;
    height: 270px;
    margin-top: 20px;
    width: 100%;

    li {
        float: left;
        overflow: hidden;
        width: 200px;
        padding: 8px;
        margin: 0 15px 15px 0;
        border: 1px solid #ccc;
        background: #fff;
        cursor: pointer;
        height: 55px;

        &.chosen{
            box-shadow: 1px 1px 8px #333, inset 1px 1px 1px #fff;
            border: 1px solid $lightblue;

            .item-image{
                 -webkit-transform: rotate(5deg);
            }
        }

        &.exists{
            opacity: .4;
        }

        .item-image{
            width: 50px;
            float: left;
            margin-right: 10px;
            padding: 3px;
            background: #fff;
            border: #ccc;

            img{
                max-width: 100%;
            }
        }
    }

    .item-description p {
        margin: 0;
        padding: 0;
        color:#ccc;
        white-space: nowrap;
        overflow: hidden;
    }

    .item-description h4{
        margin-bottom: 0;
        margin-top: 0;
    }

}

.gallery-tab-add{
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    clear: both;
    @include transition (all .3s easein);

    &:hover{
        background-color: $lightblue;
        color: #fff;
    }
}


.kb-search-wrapper {
    overflow:hidden;
}

.kb-search-inner {
    float: right;
    margin-bottom: 15px;
}
.kb-search-label {
    margin:0;
    color: #ccc;
    font-style: italic;
}

.kb-search-inner input {
    
}

