.radio_image {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    width: 210px;
    height: 86px;
    padding: 10px;

   img{
   	 //border: 1px solid #ccc;
     max-width: 100%;
     padding: 6px;
     

   	 &:hover{
   	 	@include box-shadow(1px 1px 4px $lightblue);
   	 }

   	 &.kb_radio_selected {
    	border: 1px solid #ccc;
      border-bottom: 3px solid $lightblue;
    	@include box-shadow(1px 1px 8px $lightblue);
		}
   }
}