<ul class="example-orbit" data-orbit>

    {% for item in items %}
        <li style="background-image: url('{{ item.image }}'); background-position: center; background-size: cover;" class="item {% if loop.first %} active {% endif %}">
            <div class="orbit-caption">
                {{ item.content.inlineEdit(false).el('div').addClass('carousel-caption').html() | raw }}
            </div>
        </li>

    {% endfor %}

</ul>


