<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="integration">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./core</directory>
			<directory suffix=".php">./includes</directory>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<!--<log type="coverage-clover" target="build/logs/clover.xml" />-->
	</logging>
</phpunit>
