<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="cove<rage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
