<div class="kb-sidebar-area-details__header">
    <span>You are editing area:</span> {{ name }}
    <div class="kb-sidebar-area-details__cog"><span class="dashicons dashicons-admin-generic"></span></div>
</div>
<div class="kb-sidebar-area-details__settings" style="display: none">

</div>
<div class="kb-sidebar-area-details__subheader">Categories</div>