<div class="kb-sidebar__subheader">
    <span>You are editing area:</span> {{ name }}
    <div class="kb-sidebar-action--update kb-fx-button kb-fx-button--effect-boris"><span class="dashicons dashicons-update"></span></div>
    <div class="kb-sidebar-action--cog kb-fx-button kb-fx-button--effect-boris"><span class="dashicons dashicons-admin-generic"></span></div>
</div>
<div class="kb-sidebar-area-details__settings" style="display: none">

</div>
<!--<div class="kb-sidebar-area-details__subheader">Categories</div>-->