<div class="kb-sidebar__header-wrap">
    <div class="kb-sidebar__subheader">
        {{ name }}
    </div>
    <span class="genericon genericon-close-alt kb-sidebar-action--close"></span>
    <div class="kb-sidebar-action--update kb-fx-button kb-fx-button--effect-boris"><span class="dashicons dashicons-update"></span></div>

</div>
<form class="kb-sidebar__form-container">

</form>
