<div class="kb-sidebar__item kb-sidebar__item--root" data-kb-action="{{ id }}">
    {{ text }}
    <span class="dashicons dashicons-arrow-right-alt2 kb-sidebar__add-module kb-js-sidebar-add-module"></span>

</div>