<div class="kb-sidebar-areaview kb-sidebar-areaview--inactive">
    <div class="kb-sidebar-areaview__title"> {{ name }}</div>
    <span class="dashicons dashicons-plus kb-sidebar__add-module kb-js-sidebar-add-module"></span>
</div>