<div data-fieldkey="{{ field.key }}" data-module="{{ field.parentModuleId }}" class="kb-field--wrap kb-mltpl-image-text--stage">
    <ul class="kb-generic--list">

    </ul>
    <a class="button-primary kb-js--generic-create-item">create</a>
    <script type="text/template" class="template">
        <li class="kb-generic--list-item">
            <div class="kb-js-generic-toggle kb-generic--toggle-title">
                <div class="kb-js-generic--move"></div>
                <div class="kb-js-generic--delete"></div>
                <input class="kb-generic--editable-title" type="text" value="<%= label %>"
                       name="<%= base %>[<%= counter %>][label]">
            </div>
            <div class="kb-generic--toggle-box" style="display: none;">
                <div class="kb-generic-tabs kb_fieldtabs">
                    <ul>
                        <li><a href="#tab-image-<%= base %>">Image</a></li>
                        <li><a href="#tab-text-<%= base %>">Text</a></li>
                    </ul>
                    <div id="tab-image-<%= base %>">
                        <div class="kb-generic--inner">
                            <div class="kb_field kb-field">
                                <div class="kb-generic--image-wrapper">

                                    <% if (!_.isNull(imgsrc)){ %>

                                    <img src="<%= imgsrc.sizes.large.url %>">

                                    <% } %>
                                </div>
                                <input class="kb-js-generic--imgid" type="hidden"
                                       name="<%= base %>[<%= counter %>][imgid]"
                                       value="<%= imgid %>">
                            </div>
                            <a class='kb-js-add-custom'><% if (imgid) { %> change image <% } else { %> add image <% }
                                %></a>
                        </div>
                    </div>
                    <div id="tab-text-<%= base %>">
                        <div class="kb-generic--inner">
                            <div id="kb_gen_ed_<%= _.uniqueId() %>_<%= counter %>" class="kb_field kb-remote-editor"
                                 data-name="<%= base %>[<%= counter %>][content]">
                                <%= content %>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </li>
    </script>
</div>