<div class="kb-dynamic-area-proxy">
    <div class="kb-dynamic-area-proxy--inner">
        <h4>{{ area.name }} <span>Global Area</span></h4>
        <p>Contains modules: {{ modulesCount }}</p>
        <a target="_blank" href="{{ editUrl|esc_url }}" class="kb-button-small">View/Edit</a>
    </div>
</div>