<div class="module-browser-wrapper {{ viewMode }}">

    <div class="module-browser-header module-categories">
        <a class="genericon genericon-close-alt close-browser kb-button"></a>
        <a class="dashicons dashicons-list-view module-browser--switch__list-view "></a>
        <a class="dashicons dashicons-exerpt-view module-browser--switch__excerpt-view "></a>
    </div>

    <div class="module-browser__left-column nano">
        <ul class="modules-list content">

        </ul>
    </div>

    <div class="module-browser__right-column">
        <div class="module-description">

        </div>
    </div>
</div>