<div class="module-browser-wrapper">

    <div class="module-browser-header module-categories">
        <a class="genericon genericon-close-alt close-browser kb-button"></a>
    </div>

    <div class="module-browser__left-column nano">
        <ul class="modules-list content">

        </ul>
    </div>

    <div class="module-browser__right-column">
        <div class="module-description">

        </div>
    </div>
</div>