<div data-kb-mcontrols="{{model.mid}}" class='kb-module-controls {{#if model.inDynamic }} kb-dynamic-module {{/if}} {{#if model.globalModule }} global-module {{/if}}'>
    <div class="kb-controls-wrap"></div>
</div>