<h2 class="controls-title">Module: <span> {{  model.settings.name }}</span></h2>
<div class="kb-modal__draft-notice" style="display: none;">Draft Message</div>
<div class="dashicons dashicons-no close-controls kb-button"></div>
<div class="kb-controls--buttons-wrap">
    <div class="kb-modal-history-back kb-button kb-button-secondary">&laquo; previous module</div>
    <div class="kb-save-form kb-button kb-button-primary" title="{{ i18n.frontendModal.modalSave }}">
        <div class="dashicons dashicons-update"></div>{{ i18n.frontendModal.modalSave }}<span
            class="kb-dirty-notice">*</span></div>
    <div class="kb-preview-form kb-button kb-button-secondary">{{ i18n.frontendModal.modalPreview }}</div>

</div>
<form id="onsite-form" class="wp-core-ui wp-admin kb-nano">
    <div class="kb-nano-content" id="onsite-content">

        <div class="os-content-inner kb-module">

        </div>
    </div>
</form>