<input type="hidden" name="{{ inputName }}[_uid]" value="{{ uid }}">
<div class="flexible-fields--toggle-title">
    <h3>
        <span class="genericon genericon-draggable flexible-fields--js-drag-handle"></span>
        <span class="genericon genericon-expand flexible-fields--js-toggle"></span>
        <span class="dashicons dashicons-trash flexible-fields--js-trash"></span>

        <input type="text" value="{{ item._tab.title }}" name="{{ inputName }}[_tab][title] ">
    </h3>
</div>
<div class="flexible-fields--toggle-box kb-hide">
    <div class="kb-field--tabs kb_fieldtabs">
        <ul class="flexible-field--tab-nav">

        </ul>
    </div>

</div>