.alertify-confirm {
  background: #fff;
  width: 400px;
  margin-left: -200px;
  border: none;

  .alertify-message{
    font-size: 14px !important;
    font-family: Open-Sans, sans-serif;
    font-weight: 100;
  }

  .alertify-button{
    background-image: none;
    text-shadow: 0;
    font-size: 14px !important;

  }

  .alertify-button-ok{
    background-color: transparent;
    color: #222;
    text-shadow: none;
    padding: 5px 30px;
    border: 1px solid #333;

    &:hover{
      background-color: rgb(40, 173, 81);
      color: #fff;
    }
  }

  .alertify-button-ok{
    background-color: transparent;
    color: #222;
    text-shadow: none;
    padding: 5px 30px;
    border: 1px solid #333;

    &:hover{
      background-color: rgb(40, 173, 81);
      color: #fff;
    }
  }

  .alertify-button-cancel{
    background-color: transparent;
    color: #222;
    text-shadow: none;
    padding: 5px 30px;
    border: 1px solid #333;

    &:hover{
      background-color: rgb(173, 52, 36);
      color: #fff;
    }
  }

}

.alertify-cover{
  opacity: 0.95;
  background-color: #000;
}