/* Colors */

$lightblue 	: #0074a2;
$blue		: #002e3e;
$orange		: #d54e21;
$mid-grey	: #efefef;
$dark-grey	: #333333;
$grey		: #222222;
$box-bg		: #f9f9f9;

// Genericons Include
@import "assets/genericons/genericons.css";

.hide{
	display: none;
}