.kb_block_selector {
	position: relative;
	width: 32px;
	float: right;
	text-align: center;
	padding: 0px;
	background: none;
	background-position: 0 0;
	cursor: pointer;
	border-left: 1px solid #f9f9f9;
}

.kb_block_template_selector {
	position: relative;
	width: 32px;
	float: right;
	text-align: center;
	padding: 0px;
	background: none;
	background-position: 0 0;
	cursor: pointer;
	border-left: 1px solid #f9f9f9;
}

.kb_dd_menu_item span {
    padding-left: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

/*.kb_dd_menu_item:hover {
	background-position: 0 -32px;
}*/

.kb_dd_menu_item:before {
    content: '';
    height: 32px;
    width: 1px;
    border-right: 1px solid #999;
    display: block;
    margin-left: -1px;
    float: left;
}

.kb_menu_opener {
	cursor: pointer;
	padding-left: 10px;
	width: 35px;
	height: 35px;
	background: url('icon-cog-small.png') center;
	text-indent: -9999px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
}



/*.kb_the_menu.two-column-menu {
	display: none;
	position: absolute;
	padding: 0;
	background: #fff;
	z-index: 5050;
	margin: 0;
	width: 580px;
	background: #dadada;
	right: 0;
        box-shadow: 1px 1px 8px #333;
}
.kb_the_menu.one-column-menu {
    display: none;
	position: absolute;
	padding: 0;
	background: #fff;
	z-index: 5050;
	margin: 0;
	
    	width: 290px;
	
    	background: #d2d2d2;
	right: 0;
        box-shadow: 1px 1px 8px #333;
}*/

.kb_the_menu.bar {
    display: none;
	position: absolute;
	padding: 0;
	z-index: 950;
	margin: 0;
	top:40px;
	right: 0;
	background: #333;
	z-index: 666;
	@include box-shadow(0px 1px 3px #ccc);

	&:before{
		content: '';
		width: 10px;
		height: 10px;
		display: block;
		background: #333;
		position: absolute;
		right: 17px;
		top: -5px;
		@include transform( rotate(45deg));
		z-index: 665;
	}

	li{
		height: 30px;
		display: block;
		width: 30px;
		text-align: center;
		border: none !important;
		float: left;
		cursor: block;
		padding: 0 5px;
		margin-bottom: 0;


		&:hover{
			background-color: lighten($lightblue, 10%) !important;
			}

		.block-menu-icon{
			width: 30px;
			height: 30px;
			display: block;
			background-position: 0 0px !important;
			@include transition( all .3s linear);

		&:hover{
			cursor: pointer;
			background-position: 0 -30px !important;
			background-color: lighten($lightblue, 10%) !important;
			}

		&.kb-delete{
			background: url('assets/delete.png') no-repeat;

			}

		&.kb-power{
			background: url('assets/power.png') no-repeat;
			}

		&.kb-duplicate{
			background: url('assets/duplicate.png') no-repeat;
			}

		}

	}

	
}

.kb_the_menu p.description {
    color: #000;
    font-size: 11px;
    line-height: normal;
    height: 30px;
    font-weight: normal;
}

.kb_the_menu {
    position: relative;
}

.kb_the_menu span {
        position: absolute;
    top: 0px;
    right: 0px;
}

.dd_icon {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.dd_wrapper {
    float: left;
    width: 190px;
    font-weight: bold;
}
.kb_top{
    z-index: 9999;
}

.kb_the_menu li {
	padding: 0 5px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #999;
	margin: 0;
	cursor: pointer;
	width: 279px;
	float: left;
        position: relative;
	right: 0;
}


.kb_the_menu li span {
	display: none;
	color: #687282;
        position: absolute;
        right:10px;
        font-size: 10px;
}

.kb_the_menu li:hover span {
	display: inline;
	text-shadow: none;
	
}

.kb_dd_list {
	top:40px;
}


p.no-blocks {
    font-size: 11px;
    font-style: italic;
    line-height: 100%;
}




.kb_area_templates{

	.kb_menu_opener {
		cursor: pointer;
		padding-left: 10px;
		width: 35px;
		height: 35px;
		background: url('icon-cog-small.png') center;
		text-indent: -9999px;
		background-repeat: no-repeat;
		position: absolute;
		left: -22px;
	}

	.kb_the_menu.list {
	    display: none;
		position: absolute;
		padding: 0;
		z-index: 950;
		margin: 0;
		top:40px;
		left: 0;
		background: $lightblue;
		z-index: 666;
		@include box-shadow(0px 1px 3px #ccc);

		li.area_template{
			width: 180px;
			display: block;
			float: none;
			background: $lightblue;
			color: white;
			padding: 4px 0 4px 4px;
			border-top: none;
		}

		&:before{
			content: '';
			width: 10px;
			height: 10px;
			display: block;
			background: $lightblue;
			position: absolute;
			left: 17px;
			top: -5px;
			@include transform( rotate(45deg));
			z-index: 665;
		}
	}


}