.kb_field{

    &.checkbox{
        background: transparent;
    }

    background-color: #fff;
    padding: 20px 20px 25px 20px;
    border-bottom: 1px solid #ccc;
    &:last-child{
        border-bottom: 0px;
    }

    /* Shared */

    label.heading{
        display: block;
        margin-bottom: 8px;
        border-left: 5px solid #33b5e5;
        padding-left: 9px;
        margin-left: -20px;
        font-style: italic;
        font-weight: 700;
        font-size: 13px;
        color: #333333;
        text-shadow: 1px 1px 0px #fff;
    }

    input[type=text]{
        height: 30px;
        line-height: 22px;
        border: 1px solid #aaaaaa;
        font-size:14px;

        &:focus{
            @include box-shadow(1px 1px 8px $lightblue);
        }

        &.large{
            width: 100%;
        }
    }

    input[type=checkbox]{
        margin-right: 3px;
        line-height: 150%;
    }

    select{
        min-width: 200px;
    }

    textarea:focus{
        @include box-shadow(1px 1px 8px $lightblue);
    }

    p.description{
        font-size: 11px;
    }

    /* Special Cases*/

    &.radio{
    }
}


/*
Field Tabs
*/

.kb_fieldtabs{

    position: relative; 
    zoom: 1; 


    ul.ui-tabs-nav{
        margin-bottom: 0px;
        margin-left: -8px;
        border-bottom: 2px solid #f9f9f9;
        border-top: 2px solid #f9f9f9;

        li{
            padding: 8px 0px 5px 0px;
            background: #fff;
            float: left;
            border-bottom: 2px solid #f9f9f9;
            margin-bottom: 0;
            position: relative;
            top:2px;
            

            a{
                padding: 2px 22px;
                text-decoration: none;
                color:#999;
                top:2px;
                &:focus, &:active{
                    border: none;
                    outline: none;
                }

                &:hover{
                    color: #666;
                }
            }



            &:hover{
                border-bottom: 2px solid $lightblue;
            }

            &.ui-tabs-active{
                background-color: #fff;
                border-bottom: 2px solid $lightblue;

                a{
                    color: #333;
                    font-weight: 700;
                }
            }
        }
    }

    .ui-widget-content{
        padding:0px;
    }
}

.field-wrapper{

    margin-bottom: 10px;
    
    label{
        width: 120px;
        display: inline-block;
    }
    
    input[type=text]{
        margin-left:0px;
       
    }

}


/* groups */
.kb_group_header{
    padding: 20px;
    background-color: $lightblue;

    h2{
        margin: 0 !important;
        padding: 0 !important;
        color: #fff !important;
        @include text-shadow(1px 1px 1px #999);
    }

    p.description {
        color: #f2f2f2;
        padding: 0;
        margin: 0;
    }
}


/* Onsite Styles slightly different */
body.on-site-editing{
    padding-top: 0px;

    .kb_field{

        label.heading {
            display: block;
            margin-bottom: 8px;
            border-left: 12px solid #33b5e5;
            padding-left: 9px;
            margin-left: -20px;
            font-style: italic;
            font-size: 13px;
            color: #333333;
            text-shadow: 1px 1px 0px white;
        }
    } 

    .kb_fieldtabs{

        ul.ui-tabs-nav{
            margin-left: 0;
            background: #e0e0e0;
        }

        .ui-widget-content{
            border: none;
            border-top: none;
        }
    } 

    .os-header{
        background: #333;
        padding: 4px;
        position: fixed;
        width: 100%;
        margin-left: 0px;
        margin-top: -20px;
        z-index: 9999;
        box-shadow: 1px -1px 1px #000;
        border-top: 1px solid #777;
        bottom: 0;
        font-size: 12px;

        .os-update{
            background: #f2f2f2;
            border: 1px solid #ccc;
            padding: 4px 10px;
            cursor: pointer;
            font-size: 12px;

            &:hover{
                background-color: $lightblue;
                color: #fff;
            }
        }
    }
}

@import "partials/_fields/_plupload";
@import "partials/_fields/_date";
@import "partials/_fields/_kvm";
@import "partials/_fields/_radioImages";
@import "partials/_fields/_image";
@import "partials/_fields/_advancedLink";