.module-meta-actions{
	display: none;
}

.kb_field{

//    .wp-editor-container{
//        border: 0 !important;
//    }

    &.checkbox{
//        background: transparent;
    }

    background-color: #f1f1f1;
    padding: 20px 20px 25px 20px;
    border-bottom: 1px solid #f2f2f2;
    &:last-child{
		// border-bottom: 0px;
    }

    /* Shared */

    label.heading{
      display: block;
      margin-bottom: 14px;
      padding-bottom: 4px;
      /* border-left: 2px solid #33b5e5; */
      /* padding-left: 20px; */
      /* margin-left: -20px; */
      font-weight: 700;
      font-size: 13px;
      color: #333333;
      border-bottom: 1px solid #aaa;
      box-shadow: 0px 1px 1px #fff;
    }

    input[type=text]{
        height: 30px;
		padding: 0;
        line-height: 22px;
        border: 1px solid #efefef;
        font-size:14px;
		background: #fcfcfc;
		box-shadow: none;
        width:40%;
		padding: 0 10px;
        @include transition(width .2s ease-out);

        &.large{
            width: 100%;
        }
    }

    input[type=checkbox]{
        margin-right: 3px;
        line-height: 150%;
    }

    select{
        min-width: 200px;
    }

    textarea:focus{
        @include box-shadow(1px 1px 8px $lightblue);
    }

    p.description{
        font-size: 11px;
    }

    /* Special Cases*/

    &.radio{
    }
}


/*
Field Tabs
*/

.kb_fieldtabs{

    position: relative; 
    zoom: 1; 


    ul.ui-tabs-nav{
        margin-bottom: 0px;
        margin-left: 0px;
        padding:10px 0 0 0;

        li{
            padding: 8px 0px 5px 0px;
            background: #fff;
            float: left;
//            border-bottom: 2px solid #f9f9f9;
            margin-bottom: 0;
            position: relative;
            top:0px;


            a{
                padding: 2px 22px;
                text-decoration: none;
                color:#999;
                top:2px;
                font-weight:100;
                &:focus, &:active{
                    border: none;
                    outline: none;
                }

                &:hover{
                    color: #666;
                }
            }



            &:hover{
//                border-bottom: 2px solid $lightblue;
            }

            &.ui-tabs-active{
                background-color: #f1f1f1;
//                border-bottom: 2px solid $lightblue;
              border-right: 1px solid #aaa;

                a{
                    color: #333;
                    font-weight: 100;
                }
            }
        }
    }

    .ui-widget-content{
        padding:0px;
    }
}

.field-wrapper{

    margin-bottom: 10px;

    label{
        width: 120px;
        display: inline-block;
    }

    input[type=text]{
        margin-left:0px;

    }

}


/* groups */
.kb_group_header{
    padding: 20px;
    background-color: $lightblue;

    h2{
        margin: 0 !important;
        padding: 0 !important;
        color: #fff !important;
        @include text-shadow(1px 1px 1px #999);
    }

    p.description {
        color: #f2f2f2;
        padding: 0;
        margin: 0;
    }
}




@import "partials/_fields/_plupload";
@import "partials/_fields/_date";
@import "partials/_fields/_kvm";
@import "partials/_fields/_radioImages";
@import "partials/_fields/_image";
@import "partials/_fields/_advancedLink";

