.area_sidebars{

	padding: 10px;
	background: #fff;

	.context-header{

		h2{
			margin-top: 0;
			padding-top: 0;
		}
	}

	.connect {

		li {
		    background: #f9f9f9;
		    color: #333;
            font-weight: 100;
		    padding: 5px;
		    border: 1px solid #f2f2f2;
            border-bottom: 1px solid #aaa;
            border-right: 1px solid #aaa;
            border-left:4px solid $orange;
		    -webkit-transition: border 1s linear;

		    &.dynamic-area-active {
	  			border-left: 4px solid $lightblue;

	  			&:hover span {
	    			display: inline;
				}

				span {
	    			float: right;
	    			color: lighten($lightblue, 90%);

	    			a{
	    				color: #999;
	    				cursor: pointer;
	    			}
				}
			}

		}
	}  
	    
	#existing-areas li {
		opacity: .7;

		span {
			display: none;
		}
	}
}
