.vex.vex-theme-flat-attack{
    padding-bottom: 0 !important;
    
    .vex-close{
        font-size: 12px;
    }
}

.vex.vex-theme-flat-attack .vex-content{
    
    &.modules-menu{
        width: 75%;
        padding: 15px;
    }
    
    &.onsite{
        width: 75%;
        min-width: 600px;
        padding: 15px;
    }
    
    &.editGlobalArea{
        width: 75%;
        min-width: 600px;
        padding: 15px;
    }
    
}