{% extends Form.getLayout() %}
{% block fieldmarkup %}
    <label><input type='checkbox' id='{{ Form.getInputFieldId() }}'
                  name='{{ Form.getFieldName() }}' {{ checked(Field.getValue(), true, false) }} /> {{ Field.getArg( 'text', Field.getArg('label') ) }}
    </label>
{% endblock %}