{{#if model.overrides.loggedinonly }}
    <span class="kb-module--status-label">Visible for</span><br><span>Logged in only</span>
{{ else }}
    <span class="kb-module--status-label">Visible for</span><br><span>Anyone</span>
{{/if}}
