<div class="kb-field kb-js-field field-api-text kb-field--text">
    <label class="heading">{{ model.label }}</label>
    <input class='kb-color-picker' data-alpha="true" type='text' name='{{ fieldName model.baseId model.index model.primeKey }}' }}'
    value='{{ model.value }}' size='7'/>
    <p class="description">{{ model.description }}</p>
</div>
