<div class="kb-field kb-js-field field-api-medium">
    <label class="heading">{{ model.label }}</label>
    <textarea class="kb-medium-editable" id="random" name='{{ fieldName model.baseId model.index model.primeKey }}'>{{ model.value }}</textarea>
    <p class="description">{{ model.description }}</p>
</div>

