<div class="kb-field--oembed kb-field kb-js-field field-api-oembed">
    <label class="heading">{{ model.label }}</label>
    <input data-kbf-link-url
    name='{{ fieldName model.baseId model.index model.primeKey }}'
    value='{{ model.value }}' />
    <div class="kb-oembed-preview" data-kb-oembed-preview>

    </div>
    <p class="description">{{ model.description }}</p>
</div>