<div class="kb-field kb-js-field field-api-textarea">
    <label class="heading">{{ config.label }}</label>
    <textarea name="{{ fieldName baseId index config.key }}">{{ model.value }}</textarea>
    <p class="description">{{ config.description }}</p>
</div>