<div class="kb-field kb-js-field field-api-textarea">
    <label class="heading">{{ model.label }}</label>
    <textarea name="{{ fieldName model.baseId model.index model.primeKey }}">{{ model.value }}</textarea>
    <p class="description">{{ model.description }}</p>
</div>