<div class="kb-field--text-multiple-item">
    <div class="kb-field--text-multiple-control kbf-sort"><span class="dashicons dashicons-menu"></span></div>
    <input type="text" name="{{ model.baseId }}[]" value="{{ model.value }}">
    <div data-kbfaction="delete" class="kb-field--text-multiple-control kbf-delete"><span class="dashicons dashicons-trash" ></span></div>
</div>