<div class="kb-field kb-js-field field-api-text kb-field--text">
    <label class="heading">{{ model.label }}</label>
    <input type="text" name="{{ fieldName model.baseId model.index model.primeKey }}" value="{{ model.value }}" >
    <p class="description">{{ model.description }}</p>
</div>