  <label>{{ i18n.Modules.settings.forLoggedInOnly }}
    <input type="checkbox" data-kbms-key="loggedinonly" name="{{ model.mid }}[overrides][loggedinonly]"
      {{#if model.validator.loggedInOnly }}
           checked="checked"
      {{/if}}
           value="true">
  </label>
