<div class="kb-status-settings-header">
    <span class="kb-modal-title">Individual Module Settings</span>
    <div class="kb-modal-close dashicons dashicons-no-alt"></div>
</div>
<div class="kb-status-settings-inner">

    <input type="text" name="{{ model.mid }}[overrides][name]" value="{{ model.publicName }}">

</div>