<div class="kb-status-settings-header">
    <span class="kb-modal-title">Individual Module Settings</span>
    <div class="kb-modal-close dashicons dashicons-no-alt"></div>
</div>
<div class="kb-status-settings-inner">
    <div class="kb-status-settings--tab-nav">
        <ul class="kb-status-settings--tab-nav-list"></ul>
    </div>
</div>

