.kb-generic--toggle-title{
  padding: 5px;
  padding-left: 15px;
  margin: 0px 5px 0 5px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-left: 0;
  color: #333;

}

.kb-generic--toggle-box{
  padding: 0 5px 5px;
}

.kb-generic--list{
  margin: 0;
  list-style: none;
  padding: 0;
}