<div class="dashicons dashicons-plus"></div>
<div class="kb-global-area-item">
    <h4>{{ name }} <span>(Contains {{ meta.modules }} modules)</span></h4>
    <p>{{ description }}</p>
    <a target="_blank" class="kb-button-small" href="{{ meta.editLink }}">View</a>
</div>