<div class="kb-context-browser-inner">
    <div class="kb-context-browser--header">
        <h3>Available global areas</h3>
        <a class="genericon genericon-close-alt close-browser kb-button"></a>
    </div>
    <div class="kb-context-browser--body">
        <ul class="kb-global-areas-list">

        </ul>
    </div>
</div>