<div class="kb-fullscreen--holder-wrap">
    <div class="kb-fullscreen--controls">
        <div class="kb-fullscreen-js-close"><span class="dashicons dashicons-no-alt"></span></div>
    </div>
    <div class="kb-nano">
        <div class="kb-fullscreen--inner kb-nano-content">

        </div>
    </div>
</div>