<div class="kb-fullscreen--holder">
    <ul class="kb-fullscreen--controls">
       <li class="kb-fullscreen-js-close"><span class="dashicons dashicons-no-alt"></span></li>
    </ul>
    <div class="kb-fullscreen--inner">

    </div>
</div>