<div class="kb-template-editor-wrap">

    <div class="kb-template-editor-header"></div>
    <div class="kb-template-editor-inner">
        <div class="kb-template-editor-sidebar"></div>
        <div class="kb-template-editor-content">
            <div id="codemirror"></div>
        </div>
    </div>
    <div class="kb-template-editor-footer">

    </div>

</div>