<div class="kb-template-editor-wrap">

    <div class="kb-template-editor-header">
        <div class="kb-fullscreen--controls">
            <div class="kb-template-editor-close"><span class="dashicons dashicons-no-alt"></span></div>
        </div>
    </div>
    <div class="kb-template-editor-inner kbflexwrap">
        <div class="kb-template-editor-sidebar kbflex">
            <div data-views></div>
            <div data-controls></div>
        </div>
        <div class="kb-template-editor-content kbflex">
            <div id="codemirror"></div>
        </div>
    </div>
    <div class="kb-template-editor-footer">

    </div>

</div>