<div class="kb-tpled--wrap">

    <div class="kb-tpled--header">
        <div class="kb-fullscreen--controls">
            <div class="kb-tpled--close"><span class="dashicons dashicons-no-alt"></span></div>
        </div>
    </div>
    <div class="kb-tpled--inner kbflexwrap">
        <div class="kb-tpled--sidebar kbflex">
            <div class="kb-tpled--views">
                <h5>Templates</h5>
                <div data-views></div>
            </div>
            <div class="kb-tpled--actions">
                <h5>Actions</h5>
                <div data-controls></div>
            </div>
        </div>
        <div class="kb-tpled--content kbflex">
            <div id="codemirror"></div>

        </div>
    </div>
    <div class="kb-tpled--footer">

    </div>

</div>