<div class="kb-field-wrapper kb-js-field-identifier" id='{{ Field.uniqueId|escape('html_attr') }}'>
    <div class="kb-field-header">
        {% if (Field.getArg('title')) %}
            <h4>{{ Field.getArg('title')|escape }}</h4>
        {% endif %}
    </div>
    <div class='kb_field kb-field kb-field--{{ Field.getSetting('type') }} kb-field--reset clearfix'>