<h4>{{ module.settings.publicName }}</h4>
<p class="description">
    <em>Post ID:</em>{{ module.postObject.ID }}<br>
    <em>Post Title:</em>{{ module.postObject.post_title }}<br>
</p>
<div class="kb-js-duplicate-clipboard kb-clipboard-action">duplicate</div>
<div class="kb-js-move-clipboard kb-clipboard-action">move</div>