<div class="kb-field">
    <div class="inside">
        <div class="kb-edit-original">
            {% if translated %}
                <p>{{ i18n.validTranslated }}</p>
            {% endif %}
            <p>{{ i18n.editProxy }}</p>
            <a class="button button-primary" href="{{ editUrl }}">{{ i18n.editLink }}</a>
        </div>
    </div>
</div>