<input type="hidden" name="{{ inputName }}[_meta][uid]" value="{{ uid }}">
<div class="flexible-fields--section-box">
    <div class="flexible-fields--section-title">
        <h3>
            <span class="genericon genericon-draggable flexible-fields--js-drag-handle"></span>
            <span class="dashicons dashicons-trash flexible-fields--js-trash"></span>
            <input type="text" value="{{ item.title }}" name="{{ inputName }}[_meta][title] ">
        </h3>
    </div>
    <div class="kb-field--tabs kb_fieldtabs">
        <ul class="flexible-field--tab-nav">

        </ul>

    </div>
</div>