<div class="kb-field kb-js-field field-api-editor">

    <label class="heading">{{ config.label }}</label>
    <div class="kb-ff-editor-wrapper">
        {{! editor markup gets retrieved from the server and is inserted dynamically }}
    </div>
    <p class="description">{{ config.description }}</p>

</div>