<div class="kb-field kb-js-field field-api-text">

    <label class="heading">{{ config.label }}</label>
    <input type="text" name="{{ fieldName baseId index config.key }}" value="{{ model.value }}" >
    <p class="description">{{ config.description }}</p>

</div>