<div class='os-edit-wrapper os-controls <% if(model.inDynamic) { %> dynamic-module <% } %> <% if(model.master) { %> master-module <% } %>'>
    <ul class="controls-wrap">
        <li>
            <a class='os-edit-block kb-nbb' title='edit' data='<%= model.instance_id %>'
               data-url='<%= model.editURL %>'><span class="dashicons dashicons-edit"></span>Edit</a>
        </li>
        <!--<li>-->
            <!--<a class='kb-module-layout-controls kb-js-open-layout-controls dashicons dashicons-hammer'></a>-->
        <!--</li>-->
        <li>
            <a class='kb-module-inline-update kb-nbt kb-nbb kb-js-inline-update'><span class="dashicons dashicons-update"></span>Update</a>
        </li>
        <li>
            <a class='kb-module-dirty-state kb-nbt'><span class=""></span>Changed</a>
        </li>
    </ul>
</div>