<h2 class="controls-title">Module: <span> <%= model.settings.name %></span></h2>
    <a class="dashicons dashicons-no close-controls kb-button"></a>
        <div class="kb-controls--buttons-wrap">
            <a class="kb-save-form kb-button kb-button-primary dashicons dashicons-update koolkip" title="<%= i18n.frontendModal.modalSave %>"><%= i18n.frontendModal.modalSave %><span class="kb-dirty-notice">*</span></a>
            <a class="kb-preview-form kb-button kb-button-secondary"><%= i18n.frontendModal.modalPreview %></a>
        </div>
<form id="onsite-form" class="wp-core-ui wp-admin nano">
    <div class="kb-modal--loading">Loading...</div>

    <div class="content" id="onsite-content">

        <div class="os-content-inner">

        </div>
    </div>
</form>