
body {
    font-family: Arial, sans-serif;
}

.image-crop-wrapper {
    padding: 20px;
    
}

.image-crop-step {
    
}

#image-crop-form {
    
}

#upload-wrap {
    float: left;
    margin-right: 10px;
    padding: 0;
    background: #eaeaea;
    border-radius: 0px;
}

#preview-wrap {
    float: left;
    
    border: 1px solid #ccc;
}

.upload-form {
    
}

.crop-image-holder img {
    max-width: 100%;
}

.crop-image-holder {
    margin-bottom: 20px;
}

