.kb-edit-on {
  background-color: $grey-900 !important;
  a {
    color: $blue !important;

  }
}

.kb-area__empty-placeholder{
  display: none;
}

body.kb-editcontrols-show {
  .kb-area__empty{
    outline: 1px dashed $blue;
    display: block !important;
  }

  .kb-area__empty-placeholder{
    padding: 8px;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: 1px dotted $lowgrey;
    outline-offset: -2px;
    opacity: 0.5;
    transition: all .3s ease-in;

    &:hover{
      opacity: 1;
      padding: 16px 8px;
    }
  }

  .module, .single-module, .module-merged{
    &:hover{
      outline: 1px dashed $blue;
    }
  }
}