#kb-area-modal {

  width: 200px;
  position: fixed;
  z-index: 1999;
  transition:all .1s linear;

  ul {
    background-color: #eaeaea;
    list-style: none;
    padding: 0 0 1px 0 !important;
    margin: 0 !important;

    li {
      color: #666 !important;
      font-size: 11px !important;
      cursor: pointer;
      padding: 3px 5px !important;
      line-height: 35px;

      .kb-area-layout-thumbnail {
        width: 25px;
        height: 25px;
        border: 1px solid #aaa;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;

        img {
          max-width: 100%;
        }
      }

      &:hover, &.kb-active-area-layout {
        background-color: #e1e1e1 !important;
      }
    }
  }

  .close-controls {
    color: #666 !important;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 12px !important;

    &:hover{
      color: #333;
      font-size: 13px !important;
    }
  }
}

