
.kb-menubar-container {
  position: fixed;
  bottom: -40px;
  min-height: 40px;
  border-top: 1px #444 solid;
  width: 100%;
  background: #222;
  @include background-image(linear-gradient(#111, #222 70%, #333));
  z-index: 4200;
  @include box-sizing(border-box);
  @include transition(all .3s linear);
//  @include box-shadow(1px -2px 4px -1px #222);

  &.kb-menubar-show {
    bottom: 0;
  }

  &.kb-menubar-show-partly {
    bottom: -20px;
  }

  .kb-menubar-toggle {
    position: absolute;
    right: 0;
    top: -30px;
    width: 25px;
    height: 25px;
    padding-left: 7px;
    padding-top: 4px;
    background: #111;
    //    border: 1px solid lighten(#444, 20%);
    //    border-left: 1px solid #cccccc;
    z-index: 9999;
    cursor: pointer;
    color: #ccc;
    @include transition(color .3s linear);
    border-top: 1px #444 solid;
    border-left: 1px #444 solid;


    &:hover {
      color: #fff;
    }

    .genericon:before {
      padding-left: 8px;
      text-align: center;
    }
  }

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul li {
    padding: 4px;
    padding-left: 10px;
    background: transparent;
    border-left: 1px solid #005580;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @include transition(background .3s linear);
    opacity: .5;
    font-family: 'Open-Sans', sans-serif !important;
    width: 170px !important;
    display: block;
    float: left;

    &:last-child {
      border-bottom: none;
    }

    &.in-viewport {
      border-left-color: green;
      opacity: 1;
    }

    &.in-viewport-active {
      background: #444;
    }

    &.isDirty {
      .kb-js-inline-update span {
        color: red;
      }
    }

    span {
      margin: 0;
      padding: 0;
    }

    div.kb-menubar-item__name {
      color: #fff;
      font-size: 12px !important;
      line-height: 150%;
    }

    div.kb-menubar-item__id {
      color: #ccc;
      font-size: 11px;
      line-height: 100%;
    }

  }

  .kb-menubar-item__wrapper {
    width: 80%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .kb-menubar-item__actions {
    width: 30px;
    position: absolute;
    right: 0;
    top: 4px;

    a {
      color: #ccc !important;
      border-bottom: none;
      line-height: 100%;
      display: block;

      &:hover {
        border: 0;
      }

      .dashicons {
        font-size: 16px !important;
        width: 16px !important;
        height: 16px !important;
      }
    }

  }

}

//body.admin-bar {
//
//  .kb-module-nav-container {
//    top: 32px;
//  }
//
//}

.module.kb-menubar-active {
  opacity: .7;
  position: relative;

}


.kb-menubar-tab{
  position: absolute;
  color: #666;
  top: -25px;
  border-top: 1px #444 solid;
  border-right: 1px #444 solid;
  background-color: #111;
  height: 25px;
  padding: 4px 8px;
  @include box-sizing(border-box);
  font-size: 12px;
  cursor: pointer;

  &.kb-tab-active{
    color: #666;
  }
}

.kb-menubar-tab__modules{
  left: 0;
  padding-right: 15px;
}

.kb-menubar-tab__areas{
  left: 75px;
}