
.kb-module-nav-container {
  position: fixed;
  top: 45px;
  right: -200px;
  min-height: 40px;
  width: 200px;
  background: #333;
//  border: 1px solid #ccc;
  z-index: 10000;
  @include box-sizing(border-box);
//  @include box-shadow(1px 1px 3px #999);
  @include transition(all .3s linear);

  &.kb-nav-show {
    right: 0;
  }

  &.kb-nav-show-partly {
    right: -190px;
  }

  .kb-nav-toggle {
    position: absolute;
    left: -25px;
    top: 0px;
    width: 25px;
    height: 25px;
    padding-left: 4px;
    padding-top: 4px;
    background: #333;
//    border: 1px solid lighten(#444, 20%);
//    border-left: 1px solid #cccccc;
    z-index: 9999;
    cursor: pointer;
    color: #999;
    @include transition(color .3s linear);

    &:hover {
      color: #fff;
    }

    .genericon:before {
      padding-left: 4px;
      text-align: center;
    }
  }

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  ul li {
    border-bottom: 1px solid #444;
    padding: 4px;
    background: transparent;
    border-left: 6px solid #005580;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @include transition(background .3s linear);
    opacity: .5;
    font-family: 'Open-Sans', sans-serif !important;

    &:last-child {
      border-bottom: none;
    }

    &.in-viewport {
      border-left-color: green;
      opacity: 1;
    }

    &.in-viewport-active {
      background: #444;
    }

    &.isDirty {
      .kb-js-inline-update span {
        color: red;
      }
    }

    span {
      margin: 0;
      padding: 0;
    }

    div.kb-module-nav-item__name {
      color: #fff;
      font-size: 13px;
      line-height: 150%;
    }

    div.kb-module-nav-item__id {
      color: #ccc;
      font-size: 11px;
      line-height: 100%;
    }

  }

  .kb-module-nav-item__wrapper {
    width: 150px;
    float: left;
  }

  .kb-module-nav-item__actions {
    width: 50px;
    position: absolute;
    right: 0;
    top: 8px;

    a {
      color: #ccc !important;
      border-bottom: none;
      line-height: 100%;

      &:hover {
        border: 0;
      }

      .dashicons {
        font-size: 16px !important;
        width: 16px !important;
        height: 16px !important;
      }
    }

  }

}

body.admin-bar {

  .kb-module-nav-container {
    top: 32px;
  }

}

.module.kb-nav-active {
  opacity: .7;
  position: relative;

}