#onsite-modal {

  @extend .base-box-shadow;

  &.kb-modal-sidebar {
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    height: 100%;
  }

  &.fullscreen {

    left: 0 !important;
    top: 0 !important;


    #onsite-content {
      padding: 6%;
    }

  }

}