$icon-size: 20px;

.kb-area__empty {
  display: none;
}

body.onsite-editing {
  .kb-area__empty {
    min-height: 100px;
    background-color: #f2f2f2;
    border: 1px dashed #ccc;
    display: block;
  }
}

.kontentblocks-ready .module {

  // wrap
  .controls-wrap {
    width: 100%;
    height: 24px;
    position: absolute;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;

    //    @include border-radius(0);
  }

  span.kb-module__draft-notice {
    font-size: 11px !important;
    display: block;
    width: 100%;
    background-color: red !important;

  }

  .controls-wrap-item {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
  }

  &.isDirty .kb-module-controls a.kb-module-inline-update {
    color: #cc0000 !important;
  }

  .kb-module-controls {
    width: 100%;
    height: 24px;
    background-color: transparent;
    position: absolute;
    opacity: 0;
    transition: all .3s linear;

    z-index: 1990;

    a {
      text-shadow: 1px 1px 1px #fff !important;
      margin-right: 1px;
      background-color: #fcfcfc;
      //    @include border-radius(3px);
      color: #333 !important;
    }

    a span {
      font-size: $icon-size !important;
      line-height: $icon-size !important;
    }

    .dashicons {
      width: $icon-size;
      height: $icon-size;
    }
  }

  .kb-module-inline-move {
    cursor: move;

  }

  .kb-module-inline-delete {
    cursor: not-allowed;
  }

}

.kb-module-nav__vertical {
  .controls-wrap li {
    display: block;
    margin-bottom: 1px !important;
    width: auto;
  }
}

.kb-inline-control {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.module:hover .kb-module-controls, .module-merged:hover .kb-module-controls {
  opacity: 1;
}

.module:hover, .module-merged:hover {

  .kb-inline-control {
    opacity: 1;
  }

}
