#kb-toolbar {

  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  background-color: #222;
  z-index: 999999;
  height: 35px;

  #wp-fullscreen-buttons .mce-btn:hover,
  .mce-toolbar .mce-btn-group .mce-btn:hover,
  #wp-fullscreen-buttons .mce-btn:focus,
  .mce-toolbar .mce-btn-group .mce-btn:focus,
  .qt-fullscreen:hover,
  .qt-fullscreen:focus,
  button{
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .mce-toolbar .mce-btn-group .mce-btn.mce-active{
    background: #333 !important;
    border-color: #444;
  }

  .mce-ico{
    color: #fff;
  }

  .mce-toolbar-grp{
    background-color: #333;
    min-width: 650px;
  }

  .mce-i-kbcancleinline{
    font-family: 'dashicons';

    &:before{
      content: "\f335";
      font-family: 'dashicons';
      width: 15px;
      height: 15px;
      font-size: 22px;
    }
  }

  .mce-menubtn{
    background: #222;
    border: transparent;
  }

  .mce-menubtn span{
    color: #fff;
  }

  .mce-panel{
    background: #222;
    color: #f2f2f2;

    .mce-menu-item{
      background: #222;
    }
  }

}

/*------------------------------------*\
    TinyMCE hard styles
\*------------------------------------*/

#onsite-form{
  .wp-editor-wrap * {
    box-sizing: content-box;
  }
  .mce-widget{
    text-transform: none !important;
    button:hover{
      background: transparent !important;
    }
  }
}

.mce-toolbar-grp.mce-container, .mce-container-body.mce-stack-layout{
  width: auto !important;
}

.mce-stack-layout-item, .mce-container-body{
  display: inline-block !important;
}

.mce-tooltip{
  font-family: 'Open-Sans', sans-serif !important;
}

.mce-widget.mce-btn{
  button:hover{
    background-color: #ffffff !important;
  }
}