{{> plupload-file-header this }}

<div class="kb-plupload__inner kb-plupload__image">
    <div class="kb-plupload__image-wrap">

        <img src='{{ file.attachment.sizes.thumbnail.url }}' >
    </div>
</div>
